<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fantalega_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FantaLega"
        tools:targetApi="31">
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".campionato.ChampionshipActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".campionato.RosterActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".campionato.FormationActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".campionato.MatchActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".campionato.BenchActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".player.PlayerStatsActivity"
            android:exported="false">
        </activity>
        <activity android:name=".CalendarioActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".CalendarFragment" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".campionato.ClassificaFragment" />
        <activity android:name=".CampionatoFragment" />
        <activity android:name=".campionato.MatchLiveActivity"/>
        <activity android:name=".ScegliGiocatoreAttaccanteActivity"/>
        <activity android:name=".campionato.CreaCampionatoActivity"/>
        <activity android:name=".campionato.AccediCampionatoActivity"/>
        <activity android:name=".campionato.ConsigliatoPortiereActivity"/>
        <activity android:name=".campionato.ConsigliatoCentrocampistaActivity"/>
        <activity android:name=".campionato.ConsigliatoAttaccanteActivity"/>
        <activity android:name=".campionato.ConsigliatoDifensoreActivity"/>
        <activity android:name=".ScegliGiocatoreCentrocampistaActivity"/>
        <activity android:name=".ScegliGiocatorePortiereActivity"/>
        <activity android:name=".ScegliGiocatoreDifensoreActivity"/>
        <activity android:name=".campionato.FormazioneConsigliata"/>
    </application>
</manifest>